<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Today's Call Summary</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="content">
        <h1>Today's Call Summary</h1>
        <a href="{{ url_for('index') }}">Back to Search</a>
	<span style="color: white;">//</span>
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
        {% if call_counts %}
            <table>
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Count</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in call_counts %}
                    <tr>
                        <td>{{ row["type"] }}</td>
                        <td>{{ row["count"] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No calls found for today.</p>
        {% endif %}
    </div>
</body>
</html>
