<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="content">
        <h1>Search 911 Events</h1>
        
        <a href="{{ url_for('daily_summary') }}">Today's Call Summary</a>
        <span style="color: white;">//</span>
        <a href="{{ url_for('active_incidents') }}">Active Incidents</a>
        <span style="color: white;">//</span>
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
        <form method="post">
            <label for="search_term">Search Term:</label>
            <input type="text" name="search_term" id="search_term" placeholder="Enter search term" value="{{ search_term }}">

            <label for="search_field">Field:</label>
            <select name="search_field" id="search_field">
                <option value="type" {% if search_field == 'type' %}selected{% endif %}>Type</option>
                <option value="responder" {% if search_field == 'responder' %}selected{% endif %}>Responder</option>
                <option value="area" {% if search_field == 'area' %}selected{% endif %}>Area</option>
                <option value="address" {% if search_field == 'address' %}selected{% endif %}>Address</option>
            </select>

            <label for="date_filter">Date (optional):</label>
            <input type="date" name="date_filter" id="date_filter" value="{{ date_filter }}">

            <button type="submit">Search</button>
        </form>

        <h2>Results</h2>
        {% if search_results %}
            <table class="index-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Time</th>
                        <th>Type</th>
                        <th>Responder</th>
                        <th>Area</th>
                        <th>Map</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in search_results %}
                    <tr>
                        <td>{{ row["_id"] }}</td>
                        <td>{{ row["time"] }}</td>
                        <td>{{ row["type"] }}</td>
                        <td>{{ row["responder"] }}</td>
                        <td>{{ row["area"] }}</td>
                        <td>
                            <a href="https://www.google.com/maps/search/?api=1&query={{ row['latitude'] }},{{ row['longitude'] }}" target="_blank">
                                {{ row["address"] }}
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No results found.</p>
        {% endif %}
    </div>
</body>
</html>
